/* Main CSS
------------------------------------------*/
/* This puts the margin & padding of the website to 0, if you dont declare this it isn't automatticaly set.*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
/* Everything inside the body of the web page has these genreal settings.*/
body {
  color: black;
  font-family: sans-serif;
  font-size: 17px;

}

html, body {
  height: 100%;
}

input:focus {
    outline:none;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 50px;
}

.site-footer {
  border-top: 15px solid #6E52CA;
  background: #e5e5e5;
}

header {
	height: 150px;
	background:#6E52CA;
	color:#FFFFFF;
	display:block;
  margin-bottom:2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mainTitle{
  padding-left: 20px;
  margin:0px 0px 0px 0px;
}

img{
  float: left;
  text-align:left;
  height: 100px;
  width: 100;
}


nav {
	float:right;
	text-align:center;
}

a {
	text-decoration:none;
	color:#FFFFFF;
	font-size:1.0em;
	margin:5px;
}


ul#navBtns {
	list-style-type: none;
	margin: 0;
	display:inline;

}

li {
	display: inline;

}

.middle {
  text-align: center;
}


#headerblock {
margin-right: auto;
margin-bottom: 40px;
margin-left: auto;
padding-top:35px;
width:70%;
}


fieldset {
    border-radius: 10px;
    background: #eee;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: relative;
    border: 2px groove threedface;
}
legend {
    position: absolute;
    top: -2px;
    background: #fff;
    padding: 10px 20px;
    border: 2px groove threedface;
    border-top: none;
    box-shadow: inset 0 -5px 5px rgba(0,0,0,.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    font-weight: bold;
}
legend span {
    display: block;
    margin: -20px;
    background: #fff;
    padding: 0px 20px;
}


form
{
  margin-right:auto;
  margin-left:auto;
  width:75%;
  text-align:center;

}


#contactwelcome
{
  text-align:center;
  color: #5936c9;
  padding-bottom:0.5em;
  font:30px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#contactForm
{
  padding-bottom:3em;
  text-align:left;
  width:30%;
  font:17px "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#contactForm p
{
  padding-top:10px;
  padding-bottom:6px;
  padding-left:5px;
  font-style:italic;


}
input
{
  width:100%;
  padding:2px;

}

#comment
{
  width:100%;
  height: 10em;
  max-width: 100%;
  max-height:10em;
  font-size:20px;
  box-shadow:none;
}

#fullname, #email, #telephone
{

  font-size:15px;
  box-shadow:none;
}

#submit {
  font-family: Arial;
  color: #ffffff;
  font-size: 1.3em;
  background: #6E52CA;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow: none;
  border:none;
  width:100%;

}

#submit:hover {
  background: #5936c9;
  text-decoration: none;
  box-shadow: none;
}

#submitBtnAdmin
{
  width:75%;
  margin: 0 auto;
  padding-top:1em;
}

#submitBtn
{
  padding-top:1em;
}


/* This is the CSS for the Admin side of the website*/

.contactID{
  width: 33%;
  padding: 5%;
  display:inline-block;
}

.contactID p{
  margin: 0 0 0 0;
  padding: 0;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.item{
  width: 33%;
  padding:5%;
  display:inline-block;
}

.item p{
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

.bold {
  font-weight: bold;
}

.replyContactForm {
    width: 5em;  height: 2em;
}


#backButtonPress {
  width: 5em;  height: 2em;
}

#productDeleteShow{
  display: none;
  position: absolute;
  display: none;
  font-size: 25px;
  text-align: center;
  top: 18%;
  color: green;
}
#productModifyShow{
  display: none;
  position: absolute;
  display: none;
  font-size: 25px;
  text-align: center;
  top: 18%;
  color: green;
}

#productMessage{
  display: none;
  position: absolute;
  display: none;
  font-size: 25px;
  text-align: center;
  top: 18%;
  color: green;
}

.displayNone {
  display: none;
}

.paddingBottom{
  padding-bottom: 20px;
}

.itemModal h3 {
  text-align: center;
  font-size: 30px;
  font-style: bold;
}
#admintabs
{
position: relative;
overflow: hidden;
margin: 0 auto;
width: 100%;
}
#admincontrols
{
  text-align:center;
}

#adminboxes
{
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
}

.tabs
{
position: relative;
z-index: 1;
display: block;
margin: 0 auto;
text-align: center;
padding:4%;
background: #6E52CA;
font-size: 1.3em;
line-height:75px;
color: white;
}

.tabs:hover
{
  background:#5936c9;

}

#totalServices, #totalClasses, #emailStillToAnswer, #emailAnswered
{
  font-size:5em;
}

#addClass
{
  padding-bottom:3em;
  font:17px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#Form
{
  padding-bottom:3em;
  font:17px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.noResults
{
  text-align:center;
  color:red;
}
.center {
  text-align: center;
  color:#6E52CA;
}

#subwriting
{
  color: #6E52CA;
  text-align:center;
}

#outputContactInfoFocus
{
  width: 75%;
  margin: 0 auto;
}

.itemModal
{
  text-align: center;
}

.replyContactForm, #backButtonPress{
  background: #6E52CA;
  text-decoration: none;
  box-shadow:none;
  width:40%;
  color: #ffffff;
  font-size:1em;
  border:none;
}

.replyContactForm:hover, #backButtonPress:hover{
  background: #5936c9;
}

#divider
{
  width:10%;
  height:auto;
  display:inline-block;
}

#classname, #classdescription, #classprice, #classdisclamer, #differentservices, #classstarttime, #classendtime, #classparticipants
{
  width:75%;
  font-size: 1.3em;
  padding: 10px 10px 10px 10px;
}

#classname:focus, #classdescription:focus, #classprice:focus, #classdisclamer:focus, #classstarttime:focus, #classendtime:focus, #classparticipants:focus
{
    box-shadow: 0 0 5px #6E52CA;
    border: 1px solid #6E52CA;
}


#emailBtn input{
  display:inline;
}
#emailBtn{
  padding-top:5%;
}
.adminForm
{
  padding-bottom:1em;
}

#differentServices
{
  
  font-size:1.3em;
  width:75%;
  -webkit-appearance: menulist-button;
  padding:10px 10px 10px 10px;
  color:#A1A1A1;
  background:white;
  border-radius:0;
}

#searchBox
{
  width:75%;
  font-size:1.3em;
  -webkit-appearance:textfield;
  box-sizing: content-box;
  padding:10px 10px 10px 10px;
}

#classUpdate, #descriptionUpdate, #priceUpdate, #startTimeUpdate, #endTimeUpdate, #participantsUpdate, #disclaimerUpdate, #serviceDropDown
{
  width:75%;
  font-size: 1.3em;
  padding: 10px 10px 10px 10px;
}

#classUpdate:focus, #descriptionUpdate:focus, #priceUpdate:focus, #startTimeUpdate:focus, #endTimeUpdate:focus, #participantsUpdate:focus, #disclaimerUpdate:focus
{
    box-shadow: 0 0 5px #6E52CA;
    border: 1px solid #6E52CA;
}

.updateName
{
width:100%
}


#submitNew {
  font-family: Arial;
  color: #ffffff;
  font-size: 1.3em;
  background: #6E52CA;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow: none;
  border:none;
  width:75%;

}

#submitNew:hover {
  background: #5936c9;
  text-decoration: none;
  box-shadow: none;
}

#serviceDropDown
{
  
  font-size:1.3em;
  width:75%;
  -webkit-appearance: menulist-button;
  padding:10px 10px 10px 10px;
  color:#A1A1A1;
  background:white;
  border-radius:0;
}

.itemBoxes
{
  width:75%;
  margin: 0 auto;
  text-align: left;
}

.modify, .delete 
{
  text-decoration: none;
  box-shadow:none;
  width:100%;
  color: #ffffff;
  font-size:1em;
  padding: 10px 20px 10px 20px;
  border:none;
}

.modify{
  background: #6E52CA;
}

.modify:hover{
  background: #5936c9;
}

.delete{
  background: #ed4242
}

.delete:hover{
  background:#d60303;
}

#contactForm textarea
{
  max-width:100%;
  min-width:100%;
  resize:none;
}

#servicesOptions
{
  width:80%;
  text-align: center;
  margin: 0 auto;
}

#servicesOptions > .center{
  display: inline;
}